h1 {
    text-align: center;
    margin: 0;
    }
header{
    height: 250px;
    width: 750px;
    background-color: lawngreen;
}
.ban{
    height: 250px;
    width: 500px;
    float: left;
    background-color: red;
}
.lo{
    height: 125px;
    width: 250px;
    float: right;
    background-color: royalblue;
}
.lon{
    height: 125px;
    width: 250px;
    float: right;
    background-color: aquamarine
}
nav{
    height: 50px;
    width: 750px;
    background-color: chartreuse;
}
main{
    height: 400px;
    width: 750px;
    background-color: chocolate;
}
.asil{
    height: 400px;
    width: 150px;
    float: left;
    background-color: darkblue;
}
.arti{
    height: 400px;
    width: 500px;
    float: left;
    background-color: darkgoldenrod;
}
.asir{
    height: 400px;
    width: 100px;
    float: right;
    background-color: darkgreen;
}
footer{
    height: 50px;
    width: 750px;
    background-color: gold;
}